# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Next.js Statically Exported Pages
# /out

# Production
/build

# NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Local Environment Variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Log files
logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and Editors
/config/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
firebase-debug.log

# Misc
.vercel
*.tsbuildinfo
next-env.d.ts
